

window-rule {
    match app-id="floating_terminal"
    open-floating true
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.6; }
}

window-rule {
  opacity 1

}



/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}
